body {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 18px;
    color: #777;
}
  
h3, h4 {
    margin: 30px 0 15px 0;
    letter-spacing: 6px;
    font-size: 22px;
    color: #111;
    font-weight: 800;
    text-shadow: 1px 1px 3px black;
}

span a {
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 3px black;
}

span a:hover {
    color: #fff;
}

h2 {margin: 35px 0px 30px 0px}
  
.form-control {
    border-radius: 0;
}
  
textarea {
    resize: none;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    /*-webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
  
.carousel-caption h3 {
    color: #2e4d66!important;
    text-shadow: 2px 1px 0px #fdcb98;
    letter-spacing: 4px;
}
  
.bg-1 {
    background: #ff6966;
    color: #bdbdbd;
}

.bg-2 {
    background: #2e4d66;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-2 h2 {color: #ff6966;}
.bg-1 h2 {color: #2e4d66;}
.bg-1 p, .bg-2 h3, .bg-2 p {color: #fdcb98;}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.text-center {margin-bottom: 0 !important;}

.text-left {text-indent: -4em;}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
  
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
  
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
  
 
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
  
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }

.modal-header, h4, .close {
    background-color: #3c000d;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
  
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}
.navbar-brand {
    float: initial;
}

.navbar-header {
    position: relative;
}

.navbar {
    margin-bottom: 0;
    background-color: #fdcb98;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  
.navbar li a, .navbar .navbar-brand { 
    color: white !important;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
}
  
.navbar-nav li a:hover {
    color: #ff6966 !important;
}

.navbar-nav li.active a {
    color: white !important;
    background-color:#ff6966 !important;
}
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    
}

.navbar-right {margin-top: 20px;}

.logo-text {
    position: absolute;
    top: 20px;
    left: 62px;
    color: #2e4d66;
    text-shadow: 0px 0px 0px black;;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-menu li a:hover {
    background-color: #2e4d66 !important;
    color: white !important;
    
}
.open .dropdown-toggle {
    color: #fff ;
    background-color: #2e4d66 !important;
}
  
.dropdown-menu li a {
    color: #2e4d66 !important;
    text-shadow: 0px 0px 0px black;
    letter-spacing: 3px;
}

.dropdown-menu.active li a {
    
    color: #2e4d66 !important;
}

footer {
    background-color: #2e4d66;
    color: #f5f5f5;
    padding: 32px;
}
  
footer p, footer a {
    color: #fdcb98;
}
  
footer a:hover {
    color: #ff6966;
    text-decoration: none;
}

.text-center {
    margin-bottom: 20px;
}

.person {
    width: 120px;
    height: 120px;
}

button[onclick^="window.location.href"] {
    margin-bottom: 20px;
}

.navbar-brand img {
    height: 45px;
}

.col-sm-3 a {
    text-decoration: none;
    color: #3c000d;
}


.fa {
    width: 15px;
    height: 15px;
}

/*a[href^="tel:"], a[href^="mailto:"] {
    color: #2e4d66;
}*/

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd0;
}



@media (max-width: 900px) {
    .container {
        padding: 50px 20px 75px 20px;
    }
}

@media (max-width: 767px) {
    .logo-text {top: 34px;}
    .container-fluid {
        padding-left: 25px;
        background-color: #fdcb98;
    }
    .navbar {height: 70px;}
    .navbar li a, .navbar .navbar-brand {font-size: 14px;}
    h2 {margin-top: 55px;}
    .navbar-default .navbar-toggle {margin-top: 15px;}
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #2e4d66;
        margin-top: 7px;
    }
    .navbar-toggle .icon-bar {
        width: 30px;
        height: 2px;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
    .carousel {
        margin-top: 85px;
    }
    

}

@media (max-width: 500px) {
    p {font-size: 17px;}
    h2 {font-size: 28px;}
}